*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:rgb(205, 123, 123);
}
body{
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#circle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-color: blueviolet;
    font-size: 1.5rem;
    cursor: pointer;
    color:white;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1)3s;
}
.hover{
    transform: scale(2);

}